*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins',sans-serif;
}

html{
    scroll-behavior: smooth;;
}
body{
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #495057;
    position: relative;
}
.container img{
    width: 120px;
    height: 50px;
    position: absolute;
    left: 10px;
    top: 3px;

}
.nav{
    position: absolute;
    left: 170px;
}

#home{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 55px;
    line-height:50px;
    background-color: #0B2447;
    box-shadow: 0 10px 10px #50577A;
    z-index: 900;
    position: fixed;
}
.homemenu{
    display: block;
    position: relative;
    top: 50px;
}

.bg-warning{
    position: relative;
    width: 100vw;
    height: 10vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.customerBTNs{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn-block{
    position: relative;
    border: 2px solid black;
    width: 12vw;
    height: 5vh;
    border-radius: 5px;
}
#ITM{
    position: relative;
    top: 100px;
}
.ItemsBTNs{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.btn-block{
    position: relative;
    border: 2px solid black;
    width: 15vw;
    height: 5vh;
    border-radius: 5px;
}
.placeorder{
    position: relative;
    top: 100px;
    width: 100vw;
    height: 100vh;
    background-color: #bacbe6;
}
.mainwindoe{
    display: flex;
    width: 100vw;
    height: 65vh;
    border: 2px solid black;
    position: relative;
}
.mainwindoe>div:nth-child(1){
    width: calc(100vw/3);
    height: 65vh;
    border: 1px solid red;
    position: relative;
}
.xbox{
    position: absolute;
    background-color: #20c997;
    width: calc(100vw/3);
    height:30px;
    border: 2px solid black;
    font-size: 20px;
}
.mainwindoe>div:nth-child(2){
    width: calc(100vw/3);
    height: 65vh;
    border: 1px solid red;
}
.mainwindoe>div:nth-child(3){
    width: calc(100vw/3);
    height: 65vh;
    border: 1px solid red;
}
.ORDERFORM{
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.itemform{
    position: absolute;
    top: 50px;
}

.form3{
    position: absolute;
    top: 50px;
}

@media screen and (max-width: 1080px) {

}