*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins',sans-serif;
}

html{
    scroll-behavior: smooth;;
}
body{
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #495057;
    position: relative;
}
.container img{
    width: 120px;
    height: 50px;
    position: absolute;
    left: 10px;
    top: 3px;
}
ul{
    position: absolute;
  width: fit-content;
    right: 0;
    height: fit-content;
}
#home{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 55px;
    line-height:50px;
    background-color: #0B2447;
    box-shadow: 0 10px 10px #50577A;
    z-index: 900;
    position: fixed;
}
.homemenu{
    display: block;
    position: relative;
    top: 50px;
}

.bg-warning{
    position: relative;
    width: 100vw;
    height: 10vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.customerBTNs{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn-block{
    position: relative;
    border: 2px solid black;
    width: 12vw;
    height: 5vh;
    border-radius: 5px;
}
#ITM{
    position: relative;
    top: 100px;
}
.ItemsBTNs{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.btn-block{
    position: relative;
    border: 2px solid black;
    width: 15vw;
    height: 5vh;
    border-radius: 5px;
}
.placeorder{
    position: relative;
    top: 100px;
    width: 100vw;
    height: 70vh;

}
.mainwindoe{
    display: flex;
    width: 100vw;
    height: 45vh;

    position: relative;
}
.mainwindoe>div:nth-child(1){
    width: calc(100vw/3);
    height: 45vh;
    border: 1px solid red;
    position: relative;
}
.xbox{
    position: absolute;
    background-color: #20c997;
    width: calc(100vw/3);
    height:30px;
    border: 2px solid black;
    font-size: 20px;
}
.mainwindoe>div:nth-child(2){
    width: calc(100vw/3);
    height: 45vh;
    border: 1px solid red;
}
.mainwindoe>div:nth-child(3){
    width: calc(100vw/3);
    height: 45vh;
    border: 1px solid red;
}

.ORDERFORM{
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.itemform{
    position: absolute;
    top: 50px;
}

.form3{
    position: absolute;
    top: 50px;
}
.btn-group{
    position: absolute;
    top: 15px;

}
#ihambeger{
    display: none;
}

@media screen and (max-width: 600px) {
    .container img{
        display: none;
    }
    #home{
        display: flex;
    }

    .customerBTNs{
        display: flex;
        flex-direction: column;
    }
    .ItemsBTNs{
        display: flex;
        flex-direction: column;
    }
    .d-flex{
        width: 250px;
        position: absolute;
        right: 0;
    }
    .placeorder{
    height: 120vh;
    }
    .mainwindoe{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        height: fit-content;
    }
    .ORDERFORM{
     display: block;
    }
    .itemform{
     display: block;
     }
    .form3{
     display: block;
    }
    .xbox{
        width: 100%;
    }
    #ordersec{
        display: flex;
        height: 50vh;
        width: 100%;
        position: relative;
        background-color: darkorange;
    }
    #2box{
        display: flex;
        height: 100vh;
        width: 100%;
        position: relative;
    }
    .mainwindoe>div:nth-child(2){
        display: flex;
        height: 50vh;
        width: 100%;
        position: relative;
        top: 10px;
        background-color: #ffc720;
    }
    .mainwindoe>div:nth-child(3){
        display: flex;
        height: 50vh;
        width: 100%;
        position: relative;
        top: 20px;
        background-color: aquamarine;
    }
    #plceTbl{
        position: relative;
        top: 30px;

    }
    #cus{
        position: relative;
        top: 80px;
    }


    .btn-group{
        display: inline;
        position: absolute;
        top: 0px;
    }
}